@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

.container {
    max-width: 1146px;
    margin: 0 auto;
}

/* header */
.logo-text {
    margin-left: 10px;
    font-size: 24px;
    color: #0A143A;
    font-weight: 700;
}

.header {
    margin-top: 34px;
}

.wrap__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav ul {
    display: flex;
}

.header__nav_items {
    color: #0A143A;
    margin: 0px 7.5px;
}

.header__nav_items a:hover {
    color: #256EEB;
    text-decoration: underline;
}

.search {
    margin-top: 24px;
}

.search__main {
    border-radius: 5px;
    max-height: 50px;
    background-color: rgba(37, 110, 235, 1);
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search__main input {
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 100%;
    size: 14px;
    padding: 14px 0 14px 21.45px;
}

.search__right {
    margin-left: 20px;
}

.search__text {
    margin-left: 6px;
    margin-right: 20px;
    color: white;
    font-size: 16px;
}

.search__text:hover {
    cursor: pointer;
}

/* btn */
.btn {
    color: #0A143A;
    background-color: aliceblue;
    padding: 10px 15px;
    margin-right: 25px;
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #256EEB;
}

.btn_blue {
    color: #FFFFFF;
    padding: 10px 15px;
    background-color: #256EEB;
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn_blue:hover {
    cursor: pointer;
    color: #0A143A;
    background-color: aliceblue;
}

.footer {
    border-top: 2px solid #C4C4C4;
    padding-top: 20px;
    margin-top: 45px;
}

.footer__content {
    color: #C4C4C4;
    font-size: 14px;
}

.footer__content p {
    margin: 5px 0px;
}

.footer_item {
    color: #C4C4C4;
    font-size: 14px;
    text-decoration: underline;
}

.footer_item:hover {
    color: #0A143A;
}

.footer__menu {
    margin-top: 20px;
    color: #0A143A;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.footer__menu_item {
    margin-bottom: 5px;
}

.footer__menu_item:hover {
    color: #256EEB;
    text-decoration: underline;
}